@charset "utf-8";

/*全体の設定*/
*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
div{
    width: 100%;
    height: 80vh;
    border: 1px solid #ccc;
    margin-bottom: 20vh;
}

/*背景の設定*/
div {background: url("/img/夕日と草原.jpg") center no-repeat;}
.contain {background-size: contain;}